.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  width: 160px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: contents;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 1);
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}

.header-container-content {
  display: flex;
  margin-left: auto;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__avatar,
.header__avatar_placeholder {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabinet Grotesk", sans-serif;
}

.header__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700; /* Bold */
  font-size: 20px; /* 20px font size */
  line-height: 24px; /* Matches Figma */
  letter-spacing: 0; /* No spacing */
  background-color: transparent; /* Keep it clean */
  border: none;
  cursor: pointer;
  padding: 6px 18px; /* Gives some click area */
  border-radius: 4px;
  transition: background 0.3s ease;
  color: black;
}
