.main__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
}
.clothes-section {
  flex-grow: 2;
}
.clothes-section__subheading {
  display: flex;
  gap: 20px;
  color: rgba(0, 0, 0, 1);
}

.clothes-section__add-new {
  background-color: transparent;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
